In [20]:
#Import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split as tts

In [76]:
#View and Load Dataset
df = pd.read_csv('train.csv')
df.head()

,ID,Agency,Agency Type,Distribution Channel,Product Name,Duration,Destination,Net Sales,Commision (in value),Age,Claim
0,2010,EPX,Travel Agency,Online,Cancellation Plan,61,PHILIPPINES,12.0,0.00,41,0
1,4245,EPX,Travel Agency,Online,Cancellation Plan,4,MALAYSIA,17.0,0.00,35,0
2,9251,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,26,THAILAND,19.8,11.88,47,0
3,4754,EPX,Travel Agency,Online,2 way Comprehensive Plan,15,HONG KONG,27.0,0.00,48,0
4,8840,EPX,Travel Agency,Online,2 way Comprehensive Plan,15,MALAYSIA,37.0,0.00,36,0

In [77]:
#Drop ID
df = df.drop(['ID'], 1)

In [78]:
#Drop duration less than 0
df = df[df['Duration'] >=0]

In [79]:
#Split data into target and features
X = df.drop(['Claim'], 1)
y = df['Claim']

In [80]:
#Split data into train and test
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.25, random_state = 42)

In [ ]:
# Split features into numerical and categorical features
# num_train = X_train.select_dtypes(include = np.number)
# num_test = X_test.select_dtypes(include = np.number)
# cat = X.select_dtypes(exclude = np.number)

In [82]:
#Import and initialize standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [83]:
#Scale numerical features
num_train = pd.DataFrame(scaler.fit_transform(num_train), columns = list(num_train), index = num_train.index)
num_test = pd.DataFrame(scaler.transform(num_test), columns = list(num_test), index = num_test.index)

In [84]:
#One hot encode categorical features
cat = pd.get_dummies(cat)

In [67]:
#Combine numerical train

In [71]:
X_test.shape

(13077, 136)

In [72]:
X_train.shape

(39229, 145)