In [1]:
#Import pandas
import pandas as pd

In [5]:
#Load and View Dataset
df = pd.read_csv('test.csv')
df.head()

,ID,Agency,Agency Type,Distribution Channel,Product Name,Duration,Destination,Net Sales,Commision (in value),Age
0,17631,EPX,Travel Agency,Online,Cancellation Plan,192,HONG KONG,18.0,0.00,36
1,15064,EPX,Travel Agency,Online,1 way Comprehensive Plan,2,SINGAPORE,20.0,0.00,36
2,14139,C2B,Airlines,Online,Bronze Plan,13,SINGAPORE,13.5,3.38,24
3,19754,EPX,Travel Agency,Online,2 way Comprehensive Plan,133,"TAIWAN, PROVINCE OF CHINA",41.0,0.00,36
4,16439,C2B,Airlines,Online,Silver Plan,2,SINGAPORE,30.0,7.50,32

In [7]:
#Check for missing values
df.isnull().sum()

ID                      0
Agency                  0
Agency Type             0
Distribution Channel    0
Product Name            0
Duration                0
Destination             0
Net Sales               0
Commision (in value)    0
Age                     0
dtype: int64

In [8]:
#Check dtypes
df.dtypes

ID                        int64
Agency                   object
Agency Type              object
Distribution Channel     object
Product Name             object
Duration                  int64
Destination              object
Net Sales               float64
Commision (in value)    float64
Age                       int64
dtype: object

In [9]:
#Import and Initialzie Label Encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
#Label encode categorical features
for column in list(df):
    if df[column].dtypes == 'object':
        df[column] = le.fit_transform(df[column])

In [13]:
#Save dataframe
#Save dataframe to csv
df.to_csv('test (final).csv', index = False)